@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --btnColor: #e3b577;
  --fontFamily: "Poppins", sans-serif;
  --primaryColor: #392928;
  --playFairFamily: "Playfair Display", serif;
}

* {
  font-family: var(--fontFamily);
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--playFairFamily);
}
body {
  background-image: url("./assets/more/10.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#detailsPage {
  background-image: url("/src/assets/more/11.png"),
    url("/src/assets/more/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top, right bottom;
}
#followSection {
  background-image: url("./assets/more/10.png");
  background-repeat: no-repeat;
}
.textShadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
}
.hTextShadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
html {
  scroll-behavior: smooth;
}
#minHight {
  min-height: calc(100vh - 500px);
}
#navbar {
  background-image: url("../src/assets/more/15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: beige;
}
#navError {
  background-image: url("../src/assets/more/15.jpg");
  background-repeat: no-repeat;
  color: beige;
}
#login {
  background-image: url("/src/assets/more/4.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}
#create {
  background-image: url("/src/assets/more/5.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.active {
  color: whitesmoke;
}
#hero {
  background-image: url("/src/assets/more/3.png");
  background-repeat: no-repeat;
  min-height: calc(100vh - 88px);
}

#addCoffee {
  background-image: url("/src/assets/more/11.png"),
    url("/src/assets/more/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top, right bottom;
}

#productSection {
  background-image: url("../src/assets/more/1.png");
  background-repeat: no-repeat;
}
/* footer */
footer {
  background-image: url("../src/assets/more/13.jpg");
  background-repeat: no-repeat;
}

.copyRight {
  background-image: url("../src/assets/more/24.jpg");
  background-repeat: no-repeat;
  color: beige;
}
h1 {
  font-size: 2.5rem;
}
#dasboardUserIcon p{
font-size: 1rem;
}
#dasboardUserIcon h2{
font-size: 1.5rem;
}